import os
import multiprocessing

# Network and connections
bind = "{{ binding_adress_port}}"
backlog = {{ backlog }}
worker_connections = {{ worker_connections }}
max_requests = {{ max_requests }}
timeout = {{ timeout }}
graceful_timeout = {{ graceful_timeout }}

# Processes
proc_name = 'gunicorn'
pidfile = "{}.pid".format(os.getcwd())
workers = multiprocessing.cpu_count() * 2 + 1
daemon = True
check_config = False
preload_app = False
reload = False

# Logs
loglevel = "{{ loglevel }}"
accesslog = "{}-access.log".format(os.getcwd())
errorlog = "{}-error.log".format(os.getcwd())
